<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Spring-Boot WebService</title>
</head>
<body>
    <h1>WebService with Spring-Boot</h1>

</body>
</html>